@import 'main';
@import 'header';
@import 'footer';

.main {
    .container {
        padding: 0;
    }
}

.page-title {
    padding: 27px 0 41px;
    font-size: 36px;
    text-align: center;
    border-top: 1px solid $color-special-grey;
    border-bottom: 1px solid $color-special-grey;
}

.catalog {
    font-family: $font-main-regular;

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 24px 20px;
    }
}

.caption {
    font-family: $font-main-regular;
    font-size: 16px;
    color: $color-special-dark-grey-2;
}

.item {
    border-bottom: 1px solid $color-special-grey;

    &__img-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 112px;
    }

    &__img {
        scale: 65%;
    }

    &__button {
        @include green-button;

    }

    &__info {
        width: 140px;
        color: $color-special-dark-grey;
    }

    &__caption {
        padding-right: 65px;
        padding-bottom: 14px;
        line-height: 20px;
        text-align: left;
    }

}

.table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    width: 100%;
    border-collapse: collapse;

    td {
        border-bottom: none;

    }

    &__value {
        text-align: right;
    }
}

.toggle {
    padding: 25px 20px;
    text-align: center;
    border-bottom: 1px solid $color-special-grey;

    &__caption {
        padding-top: 23px;
    }

    &__text {
        padding-top: 8px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: $color-special-dark-grey;
    }

    &__button {
        width: 100%;
        height: 40px;
        border: none;
        margin-top: 21px;
        font-size: 16px;
        color: $color-special-dark-grey;
        text-transform: uppercase;
        font-family: $font-main-regular;
        background-color: $color-basic-grey;
        cursor: pointer;

        &:hover {
            background-color: #EBEBEB;
        }

        &:active {
            span {
                opacity: .3;
            }
        }
    }
}

.other-goods {
    position: relative;

    .decor-line {
        display: block;
        margin-top: 45px;
        width: 100%;
        height: 2px;
        background-color: $color-basic-green;
    }

    .container {
        padding: 0 20px;

    }

    .title {
        position: absolute;
        top: -17px;
        padding: 0 20px;
        background-color: #fff;
    }

    &__catalog {
        margin-top: 42px;
        border-top: 1px solid $color-special-grey;
    }

    &__item {
        padding: 13px 0 19px;
        border-bottom: 1px solid $color-special-grey;
    }

    &__caption {
        padding-bottom: 13px;
        font-family: $font-main-regular;
        font-size: 16px;
        color: $color-special-dark-grey-2;
        text-transform: uppercase;
    }

    &__info {
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: $color-special-dark-grey;
    }

    &__quantity {
        text-align: left;
    }

    &__price {
        text-align: right;
    }

    &__button {
        @include green-button;
    }

    .gift {
        margin-top: 40px;
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 290px;
        background-image: url(../images/gift-photo-mobile\ 1.png);
        background-repeat: no-repeat;
        background-position: center;

        &__text {
            color: #fff;
            text-align: center;

            font: {
                family: Arial, Helvetica, sans-serif;
                size: 16px;
            }
        }
    }
}

footer {
    background-color: $color-basic-grey;
}

@media screen and (min-width: 768px) {
    .main .container {
        padding: 0 30px;
    }

    .page-title {
        padding: 47px 0 20px;
        text-align: left;
        border: none;
        width: 100%;
        font-size: 60px;
    }


    .catalog {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
        @media screen and (min-width: 1152px) {
            grid-template-columns: 1fr 1fr 1fr;
        }


        .item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            margin: 140px 0 0;
            padding: 40px 35px;
            width: 100%;
            height: 430px;
            border: none;
            background-color: $color-basic-grey;

            &__img-box {
                position: relative;
            }

            &__img {
                position: absolute;
                scale: 100%;
                bottom: 50px;
            }

            &__info {
                width: 252px;
            }

            &__caption {
                padding: 0 48px 21px 48px;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
            }
        }

        .toggle {
            margin: 140px 0 0;
            padding: 40px;
            width: 100%;
            height: 430px;
            border: none;
            border: 1px solid $color-basic-grey;

            &__plus {
                margin-top: 10px;
            }

            &__caption {
                padding: 50px 50px 0;
                font-size: 20px;
                line-height: 22px;
            }

            &__text {
                padding: 23px 30px 0;
                font-size: 16px;
                line-height: 18px;
            }

            &__button {
                margin-top: 87px;
            }
        }
    }

    .table {
        font-size: 16px;

        td {
            line-height: 24px;
            border-bottom: 1px solid $color-special-grey;
        }
    }

    .other-goods {
        .decor-line {
            margin-top: 90px;
        }

        .title {
            margin-left: 30px;
            font-size: 36px;
            top: -25px;
        }

        &__catalog {
            margin-top: 90px;
        }

        &__item {
            padding: 28px 38px;
            border-left: 1px solid $color-special-grey;
            border-right: 1px solid $color-special-grey;
        }

        &__caption {
            float: left;
            width: 60%;
            font-size: 20px;
        }

        &__info {
            width: 40%;
            font-size: 16px;
        }

        .gift {
            margin: 0 auto;
            margin-top: 70px;
            flex-direction: row;
            background-image: url("../images/gift-photo-tablet\ 1.png");
            width: 708px;
            height: 200px;
        }
    }

    footer {
        .container {
            margin-top: 76px;
            background-color: $color-basic-grey;
        }

        .container__bottom {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 1440px) {

    .menu__link {
        color: black;

        &-current {
            &::after {
                background-color: $color-basic-green;
            }
        }
    }

    .main .container {
        padding: 0 110px;
    }

    .catalog {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 80px;

        .page-title {
            padding-top: 57px;
        }

        .item {

            flex-wrap: nowrap;

            &__info {
                width: 173px;
            }

            &__caption {
                padding: 0 8px 21px 8px;
            }
        }

        .toggle {

            &__caption {
                padding: 50px 10px 0 10px;
            }

            &__text {
                padding: 23px 0 0 0;
            }
        }
    }

    .other-goods {
        .container {
            display: flex;
            flex-direction: row;
        }

        .gift {
            margin-top: 91px;
            margin-left: 80px;
            width: 245px;
            height: 284px;
            background-image: url("../images/gift-photo-mobile\ 1.png");
            flex-direction: column;
        }

        .title {
            margin-left: 90px;
        }

        &__catalog {
            width: 73.44%;
        }

        &__item {
            display: grid;
            grid-template-columns: 1fr 1fr .75fr;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 0;
            padding-right: 0;
            border-left: none;
            border-right: none;
            align-items: center;
            justify-content: left;
        }

        &__caption {
            width: 100%;
            padding-bottom: 0;
        }

        &__info {
            width: 100%;
        }

        &__quantity {
            width: 70%;
        }

        &__price {
            text-align: left;
        }

        &__button {
            margin: 0;
        }
    }
}